footer nav.links {
    font-size: 1.5em;
    padding-bottom: 2em;
}

footer > div.notes > iframe {
    margin: 0!important;
    padding-bottom: 4em!important;
    width: initial!important;
}

article > footer {
    height: initial!important;
}

article > footer > div.notes {
    position: initial;
    bottom: initial;
    left: initial;
    padding-left: 2em;
}

article > header, article > footer, footer > div.map, section > div.map, article > figure {
    transition: height 0.5s;
}

footer > div.map, section > div.map {
    height: 50vh;
}

footer > div.notes > span > img {
    width: 100px;
    display: block;
}

body {
    font-size: 70%;
}

h1.title {
    text-align: center;
    padding: 0 10%;
}

article > section {
    padding: 0 2%;
    padding-top: 5em;
    padding-bottom: 5em;
}

article > figure {
    min-height: 500px;
}

body > nav.waypoints, nav.title {
    display: none!important;
}

.quote-right, .quote-left {
    width: 100%;
    left: 0;
    right: initial;
    top: initial;
    bottom: initial;
    top: 50%;
}

.quote-wrapper-right, .quote-wrapper-left {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

div.quote-wrapper-right > .author, div.quote-wrapper-left > .author { float: initial; left: initial; }

.cite, .author, section > blockquote {
    font-size: 1.8em!important;
}

article > section > div.bio {
    padding: 0 5%;
}

div.bio > div.image > div.figure {
    right: -10px!important;
    width: 150px!important;
}

header h1.title { font-size: 3em; }
header div.sub-title-secondary { font-size: 1em; padding: 0 10%; }

header > #header-content > #header-brand {
    left: 20px;
    bottom: 20px;
    padding-left: 5em;
}

.faq {
    -webkit-column-count: initial;
    column-count: initial;
}
