/* HTML reset ------------------------------------------------------------------------ */
p::selection, span::selection, div::selection, h1::selection, h2::selection, h3::selection, blockquote::selection, pre::selection, a::selection { background: rgba(247, 58, 70, 0.3); color: white; }
a { text-decoration: none; color: inherit; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/* ------------------------------------------------------------------------ HTML reset */

nav {
    position: absolute;
    text-align: center;
}

nav.title {
    z-index: 2000;
    overflow:hidden;
    transition: all 0.2s ease-out;
    transform: translate3d(0,-5em,0);
    backface-visibility: hidden;
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Gotham-Medium', sans-serif;
    text-transform: uppercase;
    font-size: 0.875em;
    line-height: 0.875em;
    letter-spacing: 0;
    will-change: transform;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}

nav.title > ul {
    height: 100%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

nav.title > ul > li {
    height: 100%;
    float: left;
    padding-left: 2em;
    position: relative;
    display: block;
    color: inherit;
    border-bottom: 0.1875em solid transparent;
    font-weight: normal;
}

nav.title > ul > li > a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.title > a:hover, nav.title > ul > li > a:hover {
    box-shadow: inset 0 -0.1875em 0 0 #676767;
}

nav.title > ul > li > a.active {
    box-shadow: inset 0 -0.1875em 0 0 #f9333f!important;
}

nav.title > a, nav.title > span {
    position: absolute;
    top: 0;
    margin-left: 50px;
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.title > a > i {
    padding-right: 15px;
}

nav.nav-up {
    transform: translate3d(0,0,0)!important;
}

nav.waypoints a.active {
    background-color: #F73A46;
}

nav.waypoints a:hover {
    background-color: #F73A46;
    color: #fff;
    width: 120px;
    margin-bottom: 0px;
    height: 24px;
}

nav.waypoints a:hover p {
    opacity: 1;
    transition: opacity 0.25s 0.25s
}

nav.waypoints a p {
    color: #fff;
    line-height: 24px;
    margin: 0;
    opacity: 0;
    text-transform: uppercase;
}

article > figure, section, main > footer, article > footer {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    color: black;
    margin: 0;
}

main > article {
    position: relative;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    z-index: 1000;
}

section {
    padding: 0 20%;
    padding-top: 10em;
    padding-bottom: 8em;
}

section:nth-of-type(even) {background-color: #F8F8F8;}
section:nth-of-type(odd) {background-color: white;}

article > figure {
    padding: 0;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-color: #212121;
    color: white;
}

section > p {
    margin-bottom: 1.875em;
    line-height: 1.75em;
    padding: 0 0.9375em;
    color: inherit;
    font-family: 'Exchange SSm 4r', Georgia, serif;
    font-size: 1.375em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6em;
}

section > p.two-column {
    column-count: 2;
    -webkit-column-count: 2;
}

section a {
    position: relative;
    white-space: nowrap;
}

section a:before {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(58, 195, 247, 0.3);
}

section a:hover:before {
    background-color: rgba(0, 0, 0, 0.3);
}

section > p:first-of-type::first-letter {
    float: left;
    margin: 18px 10px 0px 0px;
    font-weight: 400;
    font-size: 70px;
    line-height: 40px;
    font-weight: 600;
}

section > h4+p {
    margin-top: 4em;
}

section > blockquote {
    font-family: Worldwide-Headline, serif;
    font-size: 2.25em;
    letter-spacing: 0.1em;
    line-height: 1.35em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 2em;
    white-space: nowrap;
}

section > blockquote:after {
    content: '';
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: #F73A46;
}

main > footer {
    position: fixed!important;
    background-color: #DEDEDE;
    width: 100%;
    overflow-x: hidden;
    backface-visibility: hidden;
    transform: translate3d(0,0,0);
    will-change: transform;
    top: 0;
}

footer > div.map, section > div.map {
    width: 100%;
    height: 100%;
}

div.map .gm-style > div.gmnoprint { top: 20px; left: 20px; bottom: initial!important; }
div.map .gm-style-cc { display:none; }
div.map .gm-style-iw *{display:block;width:100%}
div.map .gm-style-iw h4,.gm-style-iw p{margin:0;padding:0}
div.map .gm-style-iw a{color:#4272db}
div.map .gm-style-iw h4{text-align: left;}
div.map .gm-style-iw h4:before{display: none;}

footer > div.notes {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: black;
    background-color: white;
    padding: 50px;
    padding-left: 20%;
    padding-bottom: 30px;
}

footer.small > div.notes {
    position: initial;
    bottom: initial;
    left: initial;
}

footer > div.notes > iframe {
    margin-right: 50px;
    margin-top: -10px!important;
}

footer > div.notes > span {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    text-align: left;
    margin-right: 50px;
    color: #CBCBCB;
    font-size: 0.9em;
}

footer > div.notes > span > h3 {
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1em;
    color: black;
}

footer > div.notes > span > img {
    width: 250px;
    margin-bottom: 10px;
}

footer > div.notes > span > h3:before { display: none; }

footer > div.notes a::before {
    display: none;
}

footer nav.links {
    position: static;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-right: 30px;
}

footer nav.links > ul > li {
    display: block;
    margin-bottom: 0;
    font-size: 1em;
    float: left;
    clear: left;
}

footer nav.links > ul > li > a {
    padding: 10px;
    text-transform: uppercase;
    color: inherit;
    line-height: 2em;
}

footer nav.links > ul > li > i {
    width: 20px;
}

footer nav.links > ul > li > img {
    display: inline;
    margin: 0 auto;
    width: 1.5em;
    position: relative;
    top: 0.25em;
}

footer nav.links > ul > li > a:hover {
    color: #aaa;
}
/* ----------------------------------------------------------------------- Page layout */

/* Typography & section styles ------------------------------------------------------- */
footer.small {
    height: initial!important;
}

section.short-head { padding-top: 5em; }
section.no-head { padding-top: 0em; }
section.short-tail { padding-bottom: 5em; }
section.no-tail { padding-bottom: 0em; }
section.full, article > footer { padding: 0; }

section > blockquote div.shrink {
    transform: scale(1.05, 0.85);
}

section > blockquote span.indent {
    display: inline-block;
    width: 1.5em;
}

section > blockquote span.small {
    font-family: Akzidenz-Grotesk, sans-serif;
    font-size: 0.55em;
    letter-spacing: 0.35em;
    line-height: 1.35em;
    vertical-align: middle;
    top: -0.1em;
    position: relative;
}
/* ------------------------------------------------------- Typography & section styles */

.gradient-thick {
    background: linear-gradient(335deg, rgba(90, 8, 46, 0.6), rgba(23, 90, 74, 0.6));
}

.gradient-solid {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-20deg, rgba(22, 69, 67, 0.2), #3C1E36);
}

.mark {
    position: relative;
}

.mark:before {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(247, 58, 70, 0.3);
}

.hidden {
    visibility: hidden;
}

.super {
    margin-top: 120px;
    font-family: "Gotham-Medium", sans-serif;
    font-size: 60px !important;
    position: relative;
    margin-bottom: -40px;
    letter-spacing: 5px;
}

.dark { background-color: #373737; }
.grey { background-color: #F5F5F5; }
.lightergrey { background-color: #FDFDFD; }
.darkergrey { background-color: #252525; }
.red { background-color: #EE2B45; }
.text-black { color: black!important; }
.text-red { color: #EE2B45!important; }

.text-fat {
    font-size: 24px;
    font-family: "Gotham-Medium", sans-serif;
    text-transform: uppercase;
}

.title-main, .title-footer, title-secondary, .title-sub {
    font-size: 30px;
    line-height: 37px;
    padding-top: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: inherit;
    font-family: "Gotham-Medium", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
}

.title-main {
    color: white;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 15px;
    margin: 0;
    margin-bottom: 30px;
}

.title-footer {
    font-size: 30px;
    margin-top: 120px;
}

.title-sub {
    font-size: 50px;
    padding-top: 15px;
    margin-top: -90px;
}

.title-main:before, .title-footer:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #EE2B45;
    left: 50%;
    margin-left: -30px;
    bottom: -10px;
}

.title-main:before {
    bottom: -17.5px;
    height: 5px;
}

.title-footer:before {
    bottom: -20px;
    height: 3px;
}

.title-secondary {
    color: #DEDEDE;
    margin-bottom: 0px;
}

.text-normal, .text-pre {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: inherit;
    padding: 0 10%;
    position:relative;
    text-align: left;
}

.text-pre {
    white-space: pre;
}

.go-to-top {
    text-transform: uppercase;
    position: relative;
    letter-spacing: 3px;
    text-align: center;
    color: inherit;
}
.go-to-top:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #EE2B45;
    left: 50%;
    margin-left: -15px;
    bottom: -20px;
}

.author > i {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1em;
    color: black;
}

.cite {
    font-size: 2.5em;
    font-family: Worldwide-Headline, serif;
    color: inherit;
    background-color: black;
    display: initial;
    padding-bottom: 10px;
}

.cite p {
    /*margin-bottom: 15px;*/
}

.author {
    font-family: Akzidenz-Grotesk, sans-serif;
    font-size: 2em;
    color: inherit;
    background-color: #F73A46;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

div.quote-wrapper-right > .author { float: right; left: 7px; }
div.quote-wrapper-left > .author { float: left; left: -7px; }

.container-quote {
    height: 100%;
    margin-left: 150px;
    margin-right: 140px;
    padding: 0;
    padding-bottom: 200px;
    margin-top: -200px;
}

.quote-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.quote-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.quote-image-left {
    position: absolute;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.quote-image-right {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.quote-full {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.quote-right {
    position: absolute;
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.quote-left {
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.quote-wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.quote-wrapper-right {
    margin: 0 20% 0 0;
    text-align: right;
}

.quote-wrapper-left {
    margin: 0 0 0 20%;
    text-align: left;
}

.p70 { width: 70%; }
.p65 { width: 65%; }
.p60 { width: 60%; }
.p40 { width: 40%; }
.p35 { width: 35%; }
.p30 { width: 30%; }

.caption {
    top: 45%;
    position: relative;
    transform: translate3d(0, -50%,0);
    line-height: 80px;
    transition: top .5s ease-in, opacity 0.5s ease-in;
    opacity: 0;
}

.caption p {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    font-family: "Gotham-Medium", sans-serif;
    text-transform: uppercase;

    text-shadow: 3px 3px #D5AD6D;
    color: white;
}

.caption-up {
    top: 50%;
    opacity: 1;
    transition-delay: 1s;
    transition: top 1s ease-out, opacity 1s ease-out;
}

#banner {
    height: 300px;
    background: #373737; /*linear-gradient(transparent, rgba(163,18,89,0.0));*/
    transition: all 0.5s ease-out;
}
