@media (max-device-aspect-ratio: 3/4) and (orientation: portrait) {
    header {height: calc(100vw * (4/3) - 9%);}
    article {margin-top: calc(100vw * (4/3) - 9%);}
}
@media (max-device-aspect-ratio: 2/3) and (orientation: portrait) {
    header {height: calc(100vw * (3/2) - 9%);}
    article {margin-top: calc(100vw * (3/2) - 9%);}
}
@media (max-device-aspect-ratio: 10/16) and (orientation: portrait) {
    header {height: calc(100vw * (16/10) - 9%);}
    article {margin-top: calc(100vw * (16/10) - 9%);}
}
@media (max-device-aspect-ratio: 9/16) and (orientation: portrait) {
    header {height: calc(100vw * (16/9) - 9%);}
    article {margin-top: calc(100vw * (16/9) - 9%);}
}
@media (max-device-aspect-ratio: 4/3) and (orientation: landscape) {
    header {height: calc(100vw * (3/4) - 9%);}
    article {margin-top: calc(100vw * (3/4) - 9%);}
}
@media (max-device-aspect-ratio: 3/2) and (orientation: landscape) {
    header {height: calc(100vw * (2/3) - 9%);}
    article {margin-top: calc(100vw * (2/3) - 9%);}
}
@media (max-device-aspect-ratio: 16/10) and (orientation: landscape) {
    header {height: calc(100vw * (10/16) - 9%);}
    article {margin-top: calc(100vw * (10/16) - 9%);}
}
@media (max-device-aspect-ratio: 16/9) and (orientation: landscape) {
    header {height: calc(100vw * (9/16) - 9%);}
    article {margin-top: calc(100vw * (9/16) - 9%);}
}

body {
    font-size: 70%;
}

#header-content {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#header-content-centered {
    transform: translateY(-50%);
}

h1.title, div.sub-title-secondary {
    text-align: center;
    padding: 0 10%;
}

header.content, section.content, footer.content {
    padding: 0 5%;
    padding-top: 15em;
    padding-bottom: 10em;
}

#waypoints, #menu-tag, .quote-image-left, .quote-image-right {
    display: none!important;
}

.quote-right, .quote-left {
    width: 100%;
}
