@font-face {
    font-family: Gotham-Medium;
    src: url(fonts/Gotham-Medium.otf);
}
html, body {
    margin: 0;
    padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
p::selection, span::selection, div::selection, h1::selection, h2::selection, h3::selection, blockquote::selection, pre::selection, a::selection {
  background: #ffb7b7;
}

body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Gotham-Medium', sans-serif;
}

.hidden {
    display: none;
}

.super {
    margin-top: 120px;
    font-family: "Gotham-Medium";
    font-size: 60px !important;
    position: relative;
    margin-bottom: -40px;
    letter-spacing: 5px;
}
body, input, textarea {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
section, footer {
    position: relative;
    font-family: "Open Sans";
    font-size: 15px;
    margin-left: -150px;
    margin-right: -150px;
    transform: rotateZ(-5deg) !important;
    overflow: hidden;
    background-color: white;
}

#navigation-top {
    position: fixed;
    z-index: 1000;
    bottom: auto;
    width: 100%;
    height: 50px;
    overflow:hidden;
    transition: all 0.2s ease-out;
    transform: translate3d(0,-80px,0);
    backface-visibility: hidden;
    perspective: 1000;
    border-color: #EE2B45;
    border-width: 0px;
    border-bottom-style: solid;
    color: black;
}

nav {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #252525;
    font-family: 'Gotham-Medium', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
}

.nav-white {
    color: white!important;
    background-color: rgb(30, 26, 40)!important;
}

.nav-transparent {
    background-color: transparent!important;
}

.nav-up {
    transform: translate3d(0,-10px,0)!important;
}

.links {
    position: relative;
}

header {
    position: fixed;
    font-family: "Open Sans";
    font-size: 15px;
    width: 100%;
    background-color: white;
    backface-visibility: hidden;
    perspective: 1000;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #121b24;

    height: 110%;
    height: calc(100% + 100px);
}

footer {
    margin-bottom: -100px;
    padding-bottom: 100px;
    color: white;

    /*background-image: url(images/footer.jpg);
    background-size: cover;*/
    background-color: #272727;
}
.container {
    transform: rotateZ(5deg) translate3d(0, 100px, 0);
    padding-bottom: 160px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 300px;
}
.dark {
    background-color: #373737;
}
.grey {
    background-color: #F5F5F5;
}
.lightergrey {
    background-color: #FDFDFD;
}
.darkergrey {
    background-color: #252525;
}
.red {
    background-color: #EE2B45;
}
.text-black {
    color: black!important;
}
.text-red {
    color: #EE2B45!important;
}
.text-fat {
    font-size: 24px;
    font-family: "Gotham-Medium";
    text-transform: uppercase;
}
#home {
    position: absolute;
    width: 100%;
    overflow: hidden;
}
#content {
    position: relative;
    will-change: transform;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    perspective: 1000;
    margin-top: 2000px;
}
.header-content-centered {
    position: relative;
    top: 50%;
    top: calc(50% - 50px);
    transform: translateY(-50%);
}
#header-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
#header-slider {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    height: 700px;
}
#header-slider > div {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}
#header-slider > div:nth-child(1) {
    opacity: 1;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.navbar-nav {
    position: relative;
    top: 7px;
    display: inline-block;
    margin: 0;
}
.navbar-nav > li {
    float: left;
    padding: 15px 17px 15px 16px;
}
.navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 13px;
}
.navbar-nav.navbar-right:last-child {
    margin-right: -34px;
}
.navbar-nav > li {
    float: left;
    padding: 15px 17px 15px 16px;
}
.nav > li {
    position: relative;
    display: block;
}
a {
    text-decoration: none;
    color: inherit;
}
.menu-item.active a, #header .menu-item a:hover {
    background-color: transparent;
    border-bottom-color: #f9333f;
    padding-bottom: 10px;
}
.menu-item a {
    color: inherit;
    border-bottom: 10px solid transparent;
    font-weight: normal;
}
.title, .title-main, .title-footer, title-secondary, .title-sub {
    font-size: 30px;
    line-height: 37px;
    padding-top: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: inherit;
    font-family: "Gotham-Medium";
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
}
.title-main {
    color: white;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 15px;
    margin: 0;
    margin-bottom: 30px;
}
.title-footer {
    font-size: 30px;
    margin-top: 120px;
}
.title-sub {
    font-size: 50px;
    padding-top: 15px;
    margin-top: -90px;
}
.title:before, .title-main:before, .title-footer:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #EE2B45;
    left: 50%;
    margin-left: -30px;
    bottom: -10px;
}
.title-main:before {
    bottom: -17.5px;
    height: 5px;
}
.title-footer:before {
    bottom: -20px;
    height: 3px;
}
.title-secondary {
    color: #DEDEDE;
    margin-bottom: 0px;
}
.sub-title, .sub-title-secondary {

    margin-top: 0px;
    margin-bottom: 50px;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    font-family: "Gotham-Medium";
    text-transform: uppercase;
}
.sub-title-secondary {
    margin-top: 0;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 5px;
}
.text-normal, .text-pre {
    font-family: "Open Sans";
    font-size: 16px;
    color: inherit;
    padding: 0 10%;
    position:relative;
    text-align: left;
}
.text-pre {
    white-space: pre;
}

.section-content {

    padding: 0 20%;
    padding-top: 30px;
}

.section-content > p {
    margin-bottom: 30px;
    line-height: 28px;
    padding: 0 15px;
    /*text-align: justify;*/
    font-family: "Open Sans";
    font-size: 16px;
    color: inherit;

    font-family: 'Exchange SSm 4r',Georgia,serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    -webkit-font-smoothing: antialiased;
}
.first-letter::first-letter {
    float: left;
    margin: 18px 10px 0px 0px;
    font-weight: 400;
    font-size: 70px;
    line-height: 40px;
    font-family: "Gotham-Medium";
}
.go-to-top {
    text-transform: uppercase;
    position: relative;
    letter-spacing: 3px;
    text-align: center;
    color: inherit;
}
.go-to-top:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #EE2B45;
    left: 50%;
    margin-left: -15px;
    bottom: -20px;
}
.menu__item--social a {
    margin: 30px;
    padding-bottom: 2px;
    border-bottom: 1px solid #dddddd;
    text-transform: uppercase;
    color: inherit;
}

.menu__item--social img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.menu__item {
    display: inline-block;
    margin-bottom: 0;
}
.menu__item--social a:hover {
    color: #aaaaaa;
}
.quote {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #F73A46;
    text-align: center;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    font-size: 100px;
    line-height: 115px;
    font-family: "Arial", sans-serif;
    color: #ffffff;
}
.cite {
    font-size: 22px;
    font-family: "Gotham-Medium";
    color: #ffffff;
    margin-bottom: 35px;
}
.cite:after {
    content: '';
    position: relative;
    width: 40px;
    height: 2px;
    background-color: #F73A46;
    bottom: -20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.cite p {
    /*margin-bottom: 15px;*/
}
.author {
    font-family: "Open Sans";
    font-size: 16px;
    color: #ffffff;
}
.section-quote {
    padding: 0;
    height: 550px;
}

.container-quote {
    height: 100%;
    margin-left: 150px;
    margin-right: 140px;
    padding: 0;
    padding-bottom: 200px;
    margin-top: -200px;
}

.quote-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
}
.quote-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.quote-image-left {
    position: absolute;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    top: 50px;
}
.quote-image-right {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: -50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote-full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 130px;
}
.quote-right {
    position: absolute;
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.quote-left {
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 50px;
}
.quote-wrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.quote-wrapper-right {
    margin: 0 20%;
    text-align: center;
}
.quote-wrapper-left {
    margin: 0 20%;
    margin-left: 100px;
    text-align: center;
}

.p70 {
    width: 70%;
}

.p65 {
    width: 65%;
}

.p60 {
    width: 60%;
}

.p40 {
    width: 40%;
}

.p35 {
    width: 35%;
}

.p30 {
    width: 30%;
}

time {
    text-align: center;
    color: #ABABAB;
}

.date {
    font-size: 44px;
    font-weight: 900;
    display: block;
}

.month {
    color: #EE2B45;
}

.month, .year {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.caption {
    top: 45%;
    position: relative;
    transform: translate3d(0, -50%,0);
    line-height: 80px;
    transition: top .5s ease-in, opacity 0.5s ease-in;
    opacity: 0;
}

.caption p {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    font-family: "Gotham-Medium";
    text-transform: uppercase;

    text-shadow: 3px 3px #D5AD6D;
    color: white;
}

.caption-up {
    top: 50%;
    opacity: 1;
    transition-delay: 1s;
    transition: top 1s ease-out, opacity 1s ease-out;
}

#banner {
    height: 300px;
    background: #373737; /*linear-gradient(transparent, rgba(163,18,89,0.0));*/
    transition: all 0.5s ease-out;
}

.gradient, .gradient-thick {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(335deg, transparent, rgba(18, 163, 130, 0.3));
}

.gradient:after, .gradient-thick:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, transparent, rgba(163, 18, 84, 0.3));
}

.gradient-thick {
    background: linear-gradient(335deg, transparent, rgba(27, 96, 80, 0.6));
}

.gradient-thick:after {
    background: linear-gradient(135deg, transparent, rgba(107, 17, 58, 0.6));
}

.logo-brand {
    position:absolute; left: 50px; bottom: 140px; color:white;
    background-image: url(images/aeon13_t.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-brand::after {
    content: '';
    position: absolute;
    top: 0;
    left: 80px;
    width: 1px;
    height: 100%;
    background-color: #7A7A7A;
}

.logo-brand div {
    margin-left: 90px;
    text-transform: uppercase;
    text-align: left;
    line-height: 18px;
    font-weight: 'Open Sans';
    font-size: 15px;
}

#introduction {
    background-color: #16232B; /*#C9695D;*/
    color: white;
    background-image: url(images/footer.jpg);
    background-size: cover;
}

.gradient-introduction {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-20deg, rgba(22, 69, 67, 0.2), #3C1E36);
}

#intro-dictionary {
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    padding: 0 30px 20px 20px;
    display: inline-block;
    width: 250px;
    float: left;
}

#scrolljack {
    right: 50px;
    position: fixed;
    top: 50%;
    top: calc(50% - 50px);
    width: 50px;
    z-index: 1000;
    display: block;
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 12px;
}

#scrolljack a {
    background-color: #01579b;
    clear: right;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    height: 10px;
    width: 10px;
    overflow: hidden;
    text-align: center;
    transition: width 0.25s;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.15);
    margin-bottom: 14px;
}

#scrolljack a.active {
    background-color: #03a9f4;
}

#scrolljack a:hover {
    background-color: #03a9f4;
    color: #fff;
    cursor: pointer;
    width: 120px;
    margin-bottom: 0px;
    height: 24px;
}

#scrolljack a:hover p {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.25s 0.25s
}

#scrolljack a p {
    color: #fff;
    cursor: pointer;
    line-height: 24px;
    margin: 0;
    opacity: 0;
    text-transform: uppercase;
}
