header {
    background-color: #747474;
}

#header-content-centered-1, #header-content-centered-2 {
    position: absolute;
    transform: translate3d(0,-50%,0);
    top: 70%;
    width: 400px;
    height: 250px;
}

#header-content-centered-1 {
    left: 60%;
}

#header-content-centered-2 {
    right: 40%;
    display: inline-block;
    font-size: 2em;
}

h1.title, div.sub-title-secondary {
    text-align: left;
    margin: 0;
    display: initial;
}

div.sub-title-secondary {
    line-height: 100%;
    text-align: right;
    margin: 0;
    display: block;
    font-size: 1em;
}

div.sub-title-secondary > span {
    background-color: black;
}

h1.title {
    background-color: #F73A46;
    line-height: 100%;
}

h1.title:before {
    display: none;
}

#header-slider > div > div {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

article > section > div.bio {
    position: relative;
}

article > section > div.bio:after {
    content: '';
    height: 100%;
    width: 1px;
    background-color: rgba(247, 58, 70, 0.3);
    position: absolute;
    top: 10px;
    left: -45px;
}

article > section > div.bio:before {
    content: '';
    height: 100%;
    width: 1px;
    background-color: rgba(247, 58, 70, 0.3);
    position: absolute;
    top: 20px;
    right: -50px;
}

article > section > div.bio > p, section > div.bio > div {
    position: relative;
    margin-bottom: 1.875em;
    line-height: 1.75em;
    padding: 0 0.9375em;
    color: inherit;
    font-family: 'Exchange SSm 4r', Georgia, serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
}

article > section > div.bio > p > span, article > section > div.bio > div > span {
    margin-left: -20px;
    position: relative;
}

article > section > div.bio > p > span:after, article > section > div.bio > div > span:after  {
    content: '';
    height: 1px;
    width: 55px;
    background-color: rgba(247, 58, 70, 0.3);
    position: absolute;
    bottom: 0;
    left: -55px;
}

article > section > div.bio > p:before, article > section > div.bio > div:before  {
    content: '';
    height: 1px;
    width: 50%;
    background-color: rgba(247, 58, 70, 0.3);
    position: absolute;
    bottom: -10px;
    right: -60px;
}

div.bio > div.image > div.figure {
    position: absolute;
    top: 0;
    right: -60px;
    width: 200px;
    height: 100%;
    max-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

div.bio > div.image > div.figure > p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    line-height: normal;
    font-size: 0.7em;
    background-color: black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

div.bio > div.image {
    position: relative;
    display: block;
    padding-right: 160px;
    min-height: 120px;
}
