header {
    background-color: #747474;
}

#header-content-centered-1, #header-content-centered-2 {
    position: absolute;
    transform: translate3d(0,-50%,0);
    top: 70%;
    width: 400px;
    height: 250px;
}

#header-content-centered-1 {
    left: 60%;
}

#header-content-centered-2 {
    right: 40%;
    display: inline-block;
    font-size: 2em;
}

h1.title, div.sub-title-secondary {
    text-align: left;
    margin: 0;
    display: initial;
}

div.sub-title-secondary {
    line-height: normal;
    text-align: right;
    margin: 0;
    display: block;
    font-size: 1em;
}

div.sub-title-secondary > span {
    background-color: black;
}

h1.title {
    background-color: #F73A46;
    line-height: normal;
}

h1.title:before {
    display: none;
}

#header-slider > div > div {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
