header {
    background-color: #424242;
}

#header-content-centered {
    position: absolute;
    transform: initial;
    top: 100px;
    right: 100px;
    width: 400px;
}

h1.title, div.sub-title-secondary {
    text-align: left;
    margin-top: 0;
}

h1.title:before {
    display: none;
}
