#header-content-centered {
    position: absolute!important;
    transform: initial!important;
    top: 100px!important;
    right: 100px;
    width: 400px;
}

h1.title, div.sub-title-secondary {
    text-align: left;
    margin-top: 0;
}

h1.title:before {
    display: none;
}

section:nth-of-type(odd) {color: white; background-color: #191C1F;}
section:nth-of-type(even) {background-color: white;}
